* {
	margin: 0;
}

.pole {
	background-image: url("fon.png");
	height: 100vh;
	background-size: cover;
}
.start {
	position: absolute;						/*центруем посередине*/
    left: 80%;                				/*центруем посередине*/
    top: 80%;								/*центруем посередине*/
    left: 50%;                				/*центруем посередине*/
    top:50%;								/*центруем посередине*/
    transform: translate(-50%, -50%);    	/*центруем посередине*/ /* смещаем влево и вверх на половину собственной ширины и высоты*/

	width: 500px;
	background-color: grey;

	border-color: white;
	border-style: solid;
	border-width: 5px;
	border-radius: 10%;
	
	padding: 100px;
}

.start h1 {
		text-align: center;
}

#nameForm {
	position: relative;
	top: 30px;
}
#nameForm {

	/*top: 50%;*/
	left: 50%;
	width: 260px;
	transform: translate(-50%, 0); 
	/*background-color: cyan;*/
}