* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}
@font-face {
    font-family: OrcHordeBB_Reg;
    src: url(../fonts/OrcHordeBB_Reg.ttf);
}
body {
    font-family: OrcHordeBB_Reg;
}
ul,
ol {
    list-style-type: none;
    line-height: 1.3;
}
ul li,
ol li {
    margin-bottom: 5px;
    font-size: 18px;
}

@keyframes rot {
    10% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/*@keyframes move {
    from {
        left: 0%;
        top: 0%
    }
    to {
        left: 15%;
        top: 25%;
    }

}
*/

.screen,
.score-value span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  /* смещаем влево и вверх*/
}
.screen-start,
.screen-ranking {
    width: 70vw;
    height: 60vh;
}
.screen-ranking {
    width: 50vw;
}
.screen-game {
    width: 100vw;
    height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
}
.panel {
    width: 100%;
    padding: 8vh 5vw;
    height: 100%;
    background: #63786d;
    border: 20px solid white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    animation: rot 5s;
}

table {
    overflow-y: auto;
    max-height: 27vh;
    display: block;
    margin-bottom: 2vh;
}
tr > th:nth-child(1),
tr > td:nth-child(1) {
    width: 10%;
    text-align: left;
}
tr > th:nth-child(2),
tr > td:nth-child(2) {
    width: 200px;
    text-align: left;
}
tr > td:nth-child(3) {
    width: 200px;
    text-align: center;
}
td,th {
    line-height: 2;
}
h1 {
    margin-bottom: 30px;
    font-size: 40px;
}
form {
    margin-top: 20px;
}

input[type='text'] {
    min-width: 200px;
}

input[type='text'],
input[type='submit'],
button {
    padding: 9px;
}

input[type='submit'],
button {
    background: #778d94;
    color: #fff;
    border: none;
}

.game-panel {
    position: absolute;
    color: #fff;
}
.game-panel-skills {
    right: 30px;
    bottom: 30px;
}
.game-panel-user {
    left: 30px;
    top: 30px;
}
.game-panel-scores {
    bottom: 30px;
    left: 30px;
}
.user-info {
    text-transform: uppercase;
    margin-bottom: 7px;
}
.panel-xp,
.panel-mp {
    height: 23px;
    background: white;
    margin-bottom: 4px;
    position: relative;
}
.panel-xp {
    width: 200px;
}
.panel-mp {
    width: 176px;
}
.score-value {
    width: 100%;
    height: 100%;
}
.panel-xp .score-value {
    background: #009f8a;
}
.panel-mp .score-value {
    background: #004bb8;
}
.score-value span {
    padding-right: 13px;
}
.game-panel-skills img {
    margin-left: -1px;
}
.show {
    z-index: 300;
}

.game-panel-skills img{
  width: 60px;
}
