table {
	margin: auto;
	margin-bottom: 30px;
}
td {
	height: 150px;
	width: 150px;
	background-color: cyan;
	font-size: 140px;
}
.title_center {
	text-align: center;
	font-family: serif;
}
#btn {
	font-size: 2em;
	font-family: inherit;
}
