/**********************************************************************************************************************************************/
.panel span {
    opacity: 0;
    display: inline-block;
    transform: translate(-400px, 0px);
    animation: move1 1s forwards; 
}


@keyframes move1 {
    from {
        transform: translate(-400px, 0px); 
        
    }
    to {
        transform: translate(0); 
        opacity: 1;

    }

}

.panel span:nth-of-type(16) {
    animation-delay: 0.1s;
}
.panel span:nth-of-type(15) {
    animation-delay: 0.2s;
}
.panel span:nth-of-type(14) {
    animation-delay: .3s;
}
.panel span:nth-of-type(13) {
    animation-delay: .4s;
}
.panel span:nth-of-type(12) {
    animation-delay: .5s;
}
.panel span:nth-of-type(11) {
    animation-delay: .6s;
}
.panel span:nth-of-type(10) {
    animation-delay: .7s;
}
.panel span:nth-of-type(9) {
    animation-delay: .8s;
}
.panel span:nth-of-type(8) {
    animation-delay: .9s;
}
.panel span:nth-of-type(7) {
    animation-delay: 1s;
}
.panel span:nth-of-type(6) {
    animation-delay: 1.1s;
}
.panel span:nth-of-type(5) {
    animation-delay: 1.2s;
}
.panel span:nth-of-type(4) {
    animation-delay: 1.3s;
}
