tr > th:nth-child(1),
tr > td:nth-child(1) {
    width: 10%;
    text-align: left;
}
tr > th:nth-child(2),
tr > td:nth-child(2) {
    width: 200px;
    text-align: left;
}

tr > td:nth-child(3) {
    width: 200px;
    text-align: center;
}
